@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

h4 {
    font-size: 16px;
}

body {
    position: relative;
    width: 100%;
    background-color: #ffeddb;
}

.section-m {
    margin: 100px;
}

.center {
    text-align: center;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    background-color: #bf9270;
}

.my-portfolio {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: #ffeddb;
}

#navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

#navbar li {
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#navbar li a {
    text-decoration: none;
    color: #ffeddb;
}

#navbar li a:hover,
.my-portfolio:hover {
    color: white;
    transition: 0.2s ease-in;
}

.close {
    display: none;
    color: black;
}

.mobile {
    display: none;
}

/* Hero Section */

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
    padding: 40px 80px;
}

.hero-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
}

.hero-container {
    width: 40%;
    position: relative;
    margin: 20px 0;
}

.hero-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
}

.hero-profile h1 {
    font-size: 2.5rem;
}

.hero-profile h4 {
    color: black;
    text-align: justify;
    margin: 20px 0;
}

.hero-icon a:link,
.hero-icon a:visited {
    color: #ccc;
}

.hero-icon a i {
    color: black;
    font-size: 24px;
    padding: 0 4px;
}

.hero-img {
    width: 60%;
    height: auto;
    display: block;
    margin-left: 20px;
    padding: 0;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #61677a;
    animation: animateY 3s infinite;
}

.hero-img:hover {
    box-shadow: 8px 8px 4px #61677a;
    transition: 0.3s ease-out;
}

.hero-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-skills span {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border-right: 1px solid black;
}

.hero-skills i {
    font-size: 32px;
    margin: 0 12px;
    cursor: pointer;
    border-radius: 4px;
}

.hero-skills i:hover {
    box-shadow: 4px 4px 4px #61677a;
    transition: 0.3s ease-out;
    border-radius: 4px;
}

/* About Me */

#about-me {
    margin: 60px 0;
    padding: 40px 80px;
    background-color: #e3b7a0;
    color: white;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
}

.about-container img {
    width: 45%;
    border-radius: 4px;
}

.about-desc {
    width: 40%;
    line-height: 1.5;
}

.about-desc h2 {
    margin: 12px 0;
    color: white;
}

.about-desc p {
    text-align: justify;
}

/* Projects */

#projects {
    margin: 60px 0;
    padding: 40px 80px;
}

.project-box {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    margin: 120px auto;
}

.project-box:hover {
    box-shadow: 0 4px 4px #ccc;
    transition: 0.3s ease-out;
    border-radius: 4px;
}

.project-box div {
    text-align: right;
}

.project-box img {
    width: 60%;
    border-radius: 4px;
}

.project-box h1,
.project-box p,
.project-box div {
    margin-bottom: 20px;
}

.project-box h1 {
    cursor: pointer;
}

.tech span {
    color: black;
    font-weight: 600;
}

.tech span:nth-child(1),
.tech span:nth-child(2) {
    padding-right: 8px;
    border-right: 1px solid black;
}

.project-link a {
    color: black;
    padding: 0 4px;
    font-size: 24px;
}

.reverse {
    flex-direction: row !important;
}

.reverse div {
    text-align: left;
}

/* Contact Me */

#contact {
    margin: 60px 0 0 0;
    padding: 40px 80px;
    background-color: #e3b7a0;
    color: white;
}

.contact-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.contact-box a {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    line-height: 1.5;
    font-size: 16px;
}

.contact-map iframe {
    border-radius: 12px;
}

/* Footer */

footer {
    width: 100%;
    height: auto;
    padding: 40px 80px;
    background-color: #fff8ea;
}

footer span {
    font-size: 16px;
    color: black;
}

/* To Top */

#toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: auto;
    height: auto;
}

#toTop a {
    color: #bf9270;
}

#toTop i:hover {
    color: #bf9270;
    transition: 0.3s ease-in-out;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
}

#toTop i {
    font-size: 16px;
    padding: 16px;
    border-radius: 50%;
    background-color: #fff8ea;
}

@keyframes animateY {
    0% {
        transform: translateY(-80px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-80px);
    }
}

/* Mobile */

@media (max-width: 768px) {
    .section-m {
        margin: 60px auto;
    }

    .close {
        display: initial;
        position: absolute;
        top: 30px;
        padding-left: 20px;
        cursor: pointer;
        font-size: 24px;
    }

    .mobile {
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
    }

    .mobile:hover {
        color: black;
        transition: 0.3s ease-in;
    }

    header {
        padding: 40px;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -40%;
        height: 100vh;
        width: 40%;
        z-index: 999;
        background-color: #e3e3e3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s ease;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li a {
        text-decoration: none;
        color: black;
        line-height: 1.5;
    }

    /* Hero */

    #hero {
        padding: 0 12px;
        margin: 60px 0;
    }

    .hero-profile {
        align-items: center;
        justify-content: center;
    }

    .hero-profile h1 {
        text-align: center;
    }

    .hero-info {
        flex-direction: column-reverse;
        padding: 0;
    }

    .hero-container {
        width: 100%;
    }

    .hero-img {
        width: 80%;
        margin: 0 auto;
    }

    /* About Me */

    #about-me {
        padding: 20px 0;
        margin: 60px 0;
        text-align: center;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-container img,
    .about-desc {
        width: 100%;
    }

    .about-container img {
        padding: 0 12px;
    }

    .about-desc p {
        margin: 12px;
    }

    /* Projects */

    #projects {
        padding: 20px 0;
        margin: 0;
    }

    .project-box,
    .reverse {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }

    .project-box div,
    .reverse div {
        text-align: center;
    }

    .project-box {
        width: 100%;
        margin: 60px auto;
        padding: 0 12px;
    }

    .project-box img {
        width: 100%;
    }

    /* Contact Me */

    #contact {
        padding: 12px;
        margin: 0;
    }

    .contact-me {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-me.section-m {
        margin: 20px 0;
    }

    .contact-map {
        width: 100%;
    }

    .contact-map iframe {
        width: 100%;
        display: block;
        margin: 20px auto;
    }

    /* Footer */

    footer {
        text-align: center;
        padding: 20px 40px;
    }
}
